<table id="relation">
    <tr >
      <th class="id">ID</th>
      <th class="node">Node 1</th>
      <th class="relation">R_left</th>
      <th class="node">Node 2</th>
      <th class="relation">R_right</th>
      <th class="node">Node 3</th>
      <th class="transition">Transition</th>
      <th class="action">Action</th>
    </tr>
    <%if (myResArray.length > 0) { %>
        <% myResArray.forEach(function(res){ %> 
            <tr>
                <td><%= res.id %></td>
                <td><%= res.nodeA %></td>
                <td><%= res.relation1 %></td>
                <td><%= res.nodeC %></td>
                <td><%= res.relation2 %></td>
                <td><%= res.nodeE %></td>
                <td><%= res.nodeF %> --[ <%= res.relation3 %> ]--> <%= res.nodeE %></td>
                <td>
                    <a onclick="up()"><i  class="fa fa-thumbs-up"></i></a>
                    <a onclick="down()"><i  class="fa fa-thumbs-down"></i></a>
                </td>
            </tr>
        <% }) %>
    <% } %>
    <tr>
        <td></td>
        <form  action="transition_avec_param" id="transition_avec_param" method="POST">
            <td><input type="text" name="nodeA" placeholder="Node A"></td>
            <td><input type="number" name="relation1" placeholder="1ère Relation"></td>
            <td><input type="text" name="nodeB" placeholder="Node B"></td>
            <td><input type="number" name="relation2" placeholder="2ème Relation"></td>
            <td><input type="text" name="nodeC" placeholder="Node C"></td>
            <td><input type="number" name="relation3" placeholder="3ème Relation"></td>
            <td><button type="submit">Envoyer</button></td>
            
        </form>
    </tr>
</table>

<script src="./javascripts/transition.js"></script>