<table id="relation">
    <tr>
      <th class="id">ID</th>
      <th class="node">Node 1</th>
      <th class="relation">Relation</th>
      <th class="node">Node 2</th>
      <th class="relation">Relation</th>
      <th class="node">Node 3</th>
      <th >Logique Abduction</th>
      <th class="action">Action</th>
    </tr>
    <%if (myResArray.length > 0) { %>
        <% myResArray.forEach(function(res){ %> 
            <tr>
                <td><%= res.id %></td>
                <td><%= res.nodeA %></td>
                <td><%= res.relation1 %></td>
                <td><%= res.nodeC %></td>
                <td><%= res.relation2 %></td>
                <td><%= res.nodeD %></td>
                <td>
                    <p>Veuillez proposer une relation pour le triangle ci-dessous</p>
                    <p><%= res.nodeA %> --[ <%= res.relation1 %> ]--> <%= res.nodeC %> </p>
                    <p><%= res.nodeD %> --[ <%= res.relation2 %> ]--> <%= res.nodeC %></p>
                    <p><%= res.nodeA %> --[____]--> <%= res.nodeD %> </p>
                </td>
                <td>
                    <form  action="user_input" id="user_input" method="POST">
                        <input type="hidden" name="page" value="abduction">
                        <input type="hidden" name="nodeA" value= <%= res.nodeA %> >
                        <input type="hidden" name="nodeD" value= <%= res.nodeD %> >
                        <input type="number" name="relation" placeholder="Relation à proposer" min="-1">
                        <button type="submit">Envoyer</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    <% } %>
</table>

<script src="./javascripts/transition.js"></script>