<form  action="graphe_explication" id="graphe_explication" method="post">
    <td><input type="text" name="nodeA" placeholder="Node A"></td>
    <td><input type="number" name="relation3" placeholder="3ème Relation"></td>
    <td><input type="text" name="nodeC" placeholder="Node C"></td>
    
    <td><button type="submit">Recherche explications</button></td>
</form>

<table id="relation">
    <tr >
      <th class="id">ID</th>
      <th class="node">Node 1</th>
      <th class="relation">R_left</th>
      <th class="node">Node 2</th>
      <th class="relation">R_right</th>
      <th class="node">Node 3</th>
      <th class="transition">Transition</th>
      <th class="action">Action</th>
    </tr>
    <%if (myResArray.length > 0) { %>
        <% myResArray.forEach(function(res){ %> 
            <tr>
                <td><%= res.id %></td>
                <td><%= res.nodeA %></td>
                <td><%= res.relation1 %></td>
                <td><%= res.nodeC %></td>
                <td><%= res.relation2 %></td>
                <td><%= res.nodeE %></td>
                <td>
                    <p><%= res.nodeF %> --[ <%= res.relation3 %> ]--> <%= res.nodeE %></p></td>
                <td>
                    <form  action="up" id="up" method="POST">
                        <input type="hidden" id="UpNodeA" name="nodeA" value='<%= res.nodeA %>' >
                        <input type="hidden" id="UpNodeC" name="nodeC" value='<%= res.nodeC %>' >
                        <input type="hidden" id="UpNodeE" name="nodeE" value='<%= res.nodeE %>' >
                        <input type="hidden" id="UpRelation1" name="relation1" value='<%= res.relation1 %>' >
                        <input type="hidden" id="UpRelation2" name="relation2" value='<%= res.relation2 %>' >
                        <input type="hidden" id="UpRelation3" name="relation3" value='<%= res.relation3 %>' >
                        <button type="submit"><i class="fa fa-thumbs-up"></i></button>
                    </form>
                    <form  action="down" id="down" method="POST">
                        <input type="hidden" id="DownNodeA" name="nodeA" value='<%= res.nodeA %>' >
                        <input type="hidden" id="DownNodeC" name="nodeC" value='<%= res.nodeC %>' >
                        <input type="hidden" id="DownNodeE" name="nodeE" value='<%= res.nodeE %>' >
                        <input type="hidden" id="DownRelation1" name="relation1" value='<%= res.relation1 %>' >
                        <input type="hidden" id="DownRelation2" name="relation2" value='<%= res.relation2 %>' >
                        <input type="hidden" id="DownRelation3" name="relation3" value='<%= res.relation3 %>' >
                        <button type="submit"><i class="fa fa-thumbs-down"></i></button>
                    </form>
                    
                </td>
            </tr>
        <% }) %>
    <% } %>
    
    <tr>
        <td><button><a href="/graphe_transition"><i class="fa fa-refresh"></i></a></button></td>
        <form  action="transition_avec_param" id="transition_avec_param" method="POST">
            <td><input type="text" name="nodeA" placeholder="Node A"></td>
            <td><input type="number" name="relation1" placeholder="1ère Relation"></td>
            <td><input type="text" name="nodeB" placeholder="Node B"></td>
            <td><input type="number" name="relation2" placeholder="2ème Relation"></td>
            <td><input type="text" name="nodeC" placeholder="Node C"></td>
            <td><input type="number" name="relation3" placeholder="3ème Relation"></td>
            <td><button type="submit">Envoyer</button></td>
            
        </form>
    </tr>
</table>

<script src="./javascripts/transition.js"></script>